title {
    line-height: 70px;
    font-size: 60px

}
h1 {
    line-height: 50px;
    font-size: 46px
}

h2 {
    line-height: 36px;
    font-size: 30px
}

h3 {
    line-height: 30px;
    font-size: 24px
}

h4 {
    line-height: 26px;
    font-size: 21px
}

h5 {
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
}